.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#welcome {
  padding-top: 5%;
  height: 550px;
  background-image: url("https://hips.hearstapps.com/rbk.h-cdn.co/assets/17/35/1504024434-lionlead.jpg?crop=0.944xw:0.939xh;0.0561xw,0.0607xh&resize=980:*");
  background-size: cover;
  
}

#text {
  text-align: center;
  font-weight: bold;
  color: #1c0349;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
